In [139]:
# initial imports of libraries
import os
import pandas as pd
import matplotlib.pyplot as plt
import hvplot.pandas
import panel as pn
import plotly.express as px
from pathlib import Path
import quandl
import numpy as np
import hvplot.pandas
from datetime import datetime, timedelta
import pandas_datareader as pdr

In [140]:
# pull S&P data over the last 5 years (9/2014-9/2019) from Quandl of libraries
data_SP = quandl.get("MULTPL/SP500_PE_RATIO_MONTH")
data_SP.head()

            Value
Date
1871-01-01  11.10
1871-02-01  11.25
1871-03-01  11.52
1871-04-01  11.85
1871-05-01  12.15

In [141]:
# sort values
data_SP.sort_values('Date',ascending=False).head()

            Value
Date
2019-10-01  21.88
2019-09-01  21.63
2019-08-01  21.46
2019-07-01  22.29
2019-06-01  21.51

In [142]:
data_SP.loc['2014-01-01':'2019-09-30'].head()
SPratio14_19 = data_SP.loc['2014-01-01':'2019-09-30']

In [143]:
SPratio14_19.hvplot()

:Curve   [Date]   (Value)

In [35]:
# reading in the IPO excel file, Pandas will use the first row as the header

In [117]:
# reading in the IPO excel file, Pandas will use the first row as the header
csvpath = Path("IPO_Data_9.2014-9.2019.xlsx")
IPO_data = pd.read_excel(csvpath)
IPO_data.head()

,Company Name,Ticker,Market,Priced Date,Price,Shares,Deal Status
0,OPORTUN FINANCIAL C,OPRT,NASDAQ Global,2019-09-26,15.0,6250000.0,Priced
1,PELOTON INTERACTIVE,PTON,NASDAQ Global Select,2019-09-26,29.0,40000000.0,Priced
2,"DATADOG, INC.",DDOG,NASDAQ Global Select,2019-09-19,27.0,24000000.0,Priced
3,EXAGEN INC.,XGN,NASDAQ Global,2019-09-19,14.0,3600000.0,Priced
4,PING IDENTITY HOLDI,PING,NYSE,2019-09-19,15.0,12500000.0,Priced

In [118]:
# identifying datatypes and converting to desired datatypes
IPO_data.dtypes

Company Name            object
Ticker                  object
Market                  object
Priced Date     datetime64[ns]
Price                  float64
Shares                 float64
Deal Status             object
dtype: object

In [119]:
IPO_data.tail()

,Company Name,Ticker,Market,Priced Date,Price,Shares,Deal Status
1904,CHESAPEAKE OILFIELD,NaN,NYSE,2014-10-24,NaN,NaN,Withdrawn
1905,VIAMET PHARMACEUTIC,NaN,NASDAQ,2014-10-20,NaN,NaN,Withdrawn
1906,SIMPLE PRODUCTS CORP,NaN,OTCBB,2014-10-17,2.00,1875000.0,Withdrawn
1907,DANCE BIOPHARM INC.,NaN,NASDAQ Small Cap,2014-10-16,NaN,NaN,Withdrawn
1908,NATFRESH BEVERAGES,NaN,OTCBB,2014-10-15,0.65,18147741.0,Withdrawn

In [120]:
print(IPO_data.info())

#IPO_data.pd.to_datetime(IPO_data['Priced Date'],infer_datetime_format=True), inplace=True)
#IPO_data['Priced Date'] = pd.to_datetime(IPO_data['Priced Date'], format='%m/%d/%Y %I:%M:%S %p')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1909 entries, 0 to 1908
Data columns (total 7 columns):
Company Name    1909 non-null object
Ticker          1172 non-null object
Market          1895 non-null object
Priced Date     1909 non-null datetime64[ns]
Price           1698 non-null float64
Shares          1698 non-null float64
Deal Status     1909 non-null object
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 104.5+ KB
None

In [126]:
#Narrow withdrawls by year, filed, & price #count
#IPO_data_filtered = IPO_data.loc[:,[ "Priced Date"='{:%Y-%m-%d}'.format(datetime.datetime.now(), "Price"]]
IPO_data_filtered = IPO_data.loc[:,[ 'Priced Date', "Deal Status",]]
IPO_data_filtered.head()
# IPO_data_filtered.head()
#IPO_data.iloc[:,['Priced Date', 'Deal Status']]

  Priced Date Deal Status
0  2019-09-26      Priced
1  2019-09-26      Priced
2  2019-09-19      Priced
3  2019-09-19      Priced
4  2019-09-19      Priced

In [130]:
IPO_withdrawn = IPO_data_filtered[IPO_data_filtered["Deal Status"] =="Withdrawn"]

     Priced Date Deal Status
1561  2019-09-23   Withdrawn
1562  2019-09-20   Withdrawn
1563  2019-09-19   Withdrawn
1564  2019-09-13   Withdrawn
1565  2019-09-12   Withdrawn

In [138]:
#Align count priced of IPO x= months y=number of IPOS 
#Should see Busiest month...etc

IPO_withdrawn.loc[:,["Priced Date", "Deal Status"]].hvplot

In [ ]:
#S&P with new lib 
start_sp = datetime.datetime(2004,1,1)
end_sp = datetime.datetime(2019,9,30)
sp500 = pdr.get_data_yahoo('^GSPC',start_sp, end_sp)
sp500.head(^GSPC)